services:
  ollama:
    volumes:
      - ollama:/root/.ollama
    container_name: ollama
    restart: unless-stopped
    pull_policy: always
    tty: true
    image: ollama/ollama:${OLLAMA_DOCKER_TAG-latest}
    ports:
      - ${OLLAMA_PORT-11434}:11434
    expose:
      - 11434
    networks:
      - desktop_net
    environment:
      - OLLAMA_NUM_PARALLEL=4
      - OLLAMA_MAX_LOADED_MODELS=3
      - OLLAMA_HOST=0.0.0.0:11434
      - OLLAMA_ORIGINS=*
    # GPU support
    deploy:
      resources:
        reservations:
          devices:
            - driver: ${OLLAMA_GPU_DRIVER-nvidia}
              count: ${OLLAMA_GPU_COUNT-1}
              capabilities:
                - gpu

  vllm-cuda:
          deploy:
              resources:
                  reservations:
                      devices:
                          - driver: nvidia
                            count: all
                            capabilities:
                                - gpu
          volumes:
              - ~/.cache/huggingface:/root/.cache/huggingface
              - vllm_models:/models
          environment:
              - HUGGING_FACE_HUB_TOKEN=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
          ports:
              - 8000:8000
          ipc: host
          image: hunyuaninfer/hunyuan-infer-vllm-cuda12.4:v1
          command: --model tencent/Hunyuan-A13B-Instruct --trust_remote_code
          networks:
            - desktop_net

  open-webui:
    build:
      context: .
      args:
        OLLAMA_BASE_URL: '/ollama'
      dockerfile: Dockerfile
    image: ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG-main}
    restart: always
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - ${OPEN_WEBUI_PORT-3000}:8080
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - desktop_net

  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    configs:
      - source: qdrant_config
        target: /qdrant/config/production.yaml
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - desktop_net
configs:
  qdrant_config:
    content: |
      log_level: INFO

volumes:
  ollama: {}
  open-webui: {}
  qdrant_data: {}
  vllm_models: {}

networks:
  desktop_net:
    driver: bridge
